@model WebUI.Models.WayBill

<form method="post" asp-action="Create">
    <div class="border p-3">
        <div class="form-group-row">
            <h2 class="text-info pl-3">Add Waybill</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-8">
            <div class="form-group">
                <label asp-for="Waybillno"></label>
                <input asp-for="Waybillno" class="form-control"  placeholder="Leave blank if you do not have a way bill number"/>
            </div>

            <div class="form-group">
                <label asp-for="Status"></label>
                <select asp-for="Status" class="form-control" asp-items="Html.GetEnumSelectList<Status>()"></select>

            </div>
            <div class="form-group">
                <label asp-for="Destination"></label>
                <input asp-for="Destination" class="form-control" placeholder="enter the town where the load is going" />
            </div>

            <div class="form-group">
                <label asp-for="LoadingFrom"></label>
                <select asp-for="LoadingFrom" class="form-control" asp-items="Html.GetEnumSelectList<Depot>()"></select>
            </div>
            <div class="form-group">
                <label asp-for="VehicleId"></label>
                <input asp-for="VehicleId" class="form-control" placeholder="leave blank if you want the system to allocate for you" />
            </div>
            <div class="form-group">
                <div class="col-8 offset-4 row">
                    <div class="col">
                        <input type="submit" class="btn btn-info w-100" value="Create" />
                    </div>
                    <div class="col">
                        <a asp-action="Index" class="btn btn-success w-100">Back</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</form>
